<div>
  <%= link_to href do %>
    <% if item.image.attached? %>
      <%= image_tag url_for(item.image), alt: item.name, class: "rounded mb-2 w-full w-full h-32 object-cover opacity-85 hover:opacity-100 duration-200" %>
    <% else %>
      <p>Imagem não disponível</p>
    <% end %>

    <h3 class="text-xl"><%= item.name %></h3>
  <% end %>
</div>