<div class="flex items-center justify-between mb-10">
  <h2 class="text-2xl font-semibold mb-6">Cardápios</h2>

  <div class="flex gap-6 items-center">
    <%= link_to 'Cadastrar', new_menu_path, class: "cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3"%>
  </div>
</div>

<% if @menus.empty? %>
  <p class="text-lg text-center text-gray-400">Nenhum cardápio cadastrado.</p>
<% else %>
  <div class="space-y-4">
    <% @menus.each do |menu| %>
      <div class="flex justify-between items-center bg-gray-800 p-4 rounded-lg shadow-md">
        <h3 class="text-xl font-bold text-[#85bff1]"><%= menu.name %></h3>

        <div class="flex space-x-4">
          <%= link_to 'Ver detalhes', menu_path(menu), class: "cursor-pointer bg-[#5395cf] text-white py-2 px-4 rounded-lg font-bold hover:bg-[#3f729e] duration-200" %>

          <%= button_to 'Excluir', menu_path(menu), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este cardápio?' }, class: "cursor-pointer bg-red-600 text-white py-2 px-4 rounded-lg font-bold hover:bg-red-500 duration-200" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
