<div class="flex items-center justify-between mb-10">
  <h1 class="text-2xl font-semibold">Horário de funcionamento</h1>

  <% if @opentimes.length < 7 %>
    <%= link_to 'Cadastrar', new_opentime_path, class: "cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3"%>
  <% end %>

</div>

<div>
  <% if !@opentimes.empty? %>
    <% @opentimes.each do |o| %>
      <%= o.week_day %>
    <% end %>
  <% else %>
    <p class="text-lg">Você não possui horários cadastrados. Por favor, adicione-os.</p>
  <% end %>

</div>