<div class="flex items-center justify-between mb-10">
  <h2 class="text-2xl font-semibold">Bebidas</h2>

  <div class="flex gap-6 items-center">
    <% if current_user.owner? %>
      <%= link_to 'Cadastrar', new_drink_path, class: "cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3"%>
    <% end %>
  </div>
</div>

<% if @drinks.empty? %>
  <p class="text-lg">Você não possui bebidas cadastradas.</p>
<% else %>
  <div class="grid grid-cols-5 gap-6">
    <% @drinks.each do |d| %>
      <%= render partial: 'components/items_display', locals: { item: d, href: drink_path(d.id) } %>
    <% end %>
  </div>
<% end %>