<div class="flex items-center justify-between mb-10">
  <h2 class="text-2xl font-semibold">Pratos</h2>

  <div class="flex gap-6 items-center">
    <% if current_user.owner? %>
      <%= link_to 'Marcadores', tags_path, class: "cursor-pointer bg-[#a39440] py-3 rounded-lg font-bold hover:bg-[#685e28] duration-200 px-3"%>
      <%= link_to 'Cadastrar', new_dish_path, class: "cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3"%>
    <% end %>
  </div>
</div>

<% if current_user.restaurant.tags.any? %>
  <div class="flex flex-wrap gap-2 mb-4">
    <% selected_tags = Array(params[:tag_names]).dup %>

    <% current_user.restaurant.tags.each do |tag| %>
      <% selected = selected_tags.include?(tag.name) %>

      <% new_tag_names = selected_tags.dup %>
      <% if selected %>
        <% new_tag_names -= [tag.name] %>
      <% else %>
        <% new_tag_names << tag.name %>
      <% end %>

      <%= link_to tag.name, dishes_path(tag_names: new_tag_names.presence), class: "px-4 py-2 rounded-lg font-semibold text-sm #{selected ? 'bg-blue-600 text-white' : 'bg-gray-700 text-gray-300'} hover:bg-blue-500 transition ease-in-out duration-200" %>
    <% end %>
  </div>
<% end %>

<% if @dishes.empty? %>
  <p class="text-lg">Você não possui pratos cadastrados.</p>
<% else %>
  <div class="grid grid-cols-5 gap-6">
    <% @dishes.each do |d| %>
      <%= render partial: 'components/items_display', locals: { item: d, href: dish_path(d.id) } %>
    <% end %>
  </div>
<% end %>